<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-back-button defaultHref="profile"></ion-back-button>
        </ion-buttons>
    <ion-title>Explore Properties</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let property of properties" >
          <ion-item [routerLink]="['/property', property.id]">
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Property</ion-card-subtitle>
                  <ion-card-title>{{property.name}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  <img [src]="property.image_url" alt="">
                  <br>
                  <h2>{{property.location}}</h2>
                  <p>{{property.description}}
                    <br>
                    ${{property.price}}/night
                </ion-card-content>
            </ion-card>
          </ion-item>  
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
      
      
