<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="list-of-properties"></ion-back-button>
        </ion-buttons>
    <ion-title>{{ property.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Property</ion-card-subtitle>
      <ion-card-title>{{property.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img [src]="property.imgUrl" alt="">
      <br>
      <h2>{{property.location}}</h2>
      <p>{{property.description}}
        <br>
        ${{property.pricePerNight}}/night
    </ion-card-content>
  </ion-card>
  
  <div class="ion-text-center"> 
      <ion-input placeholder="Start Date" [(ngModel)]="dateStart"></ion-input>
      <ion-input placeholder="End Date" [(ngModel)]="dateEnd"></ion-input>

      <ion-button (click)="bookNow()">Book now</ion-button>
  </div>
</ion-content>

