<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-back-button defaultHref="profile"></ion-back-button>
        </ion-buttons>
    <ion-title>Your Bookings</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let booking of bookings" >
          <ion-item [routerLink]="['/bookings', booking.id]">
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Property</ion-card-subtitle>
                  <ion-card-title>{{booking.title}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  <img [src]="property.imgUrl" alt="">
                  <br>
                  <h2>{{booking.location}}</h2>
                  <p>{{booking.description}}
                    <br>
                    ${{booking.pricePerNight}}/night
                </ion-card-content>
            </ion-card>
          </ion-item>  
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
