<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <section> 
      <h1>Hi, I'm Lina</h1>
      <ion-avatar>
        <img src="https://instagram.flis8-2.fna.fbcdn.net/vp/6624b4e4471d870376c8a23f9b2ac184/5DA81269/t51.2885-19/s320x320/53646756_286137085638118_8921334835495043072_n.jpg?_nc_ht=instagram.flis8-2.fna.fbcdn.net">
      </ion-avatar>
    </section>

    <section>
      <h2> About </h2>
      <p>
          <ion-icon name="home"></ion-icon>  Lives in Lisbon, Portugal 
          <br>
          <ion-icon name="logo-facebook"></ion-icon>  Account connected  
      </p>
    </section>

    <section>
        <h2> Stats </h2>
        <p>
             Number of bookings made: 3
             <br> 
             Number of reviews received: 18 
        </p>
    </section>

    <section>
        <h2> Contact </h2>
        <p>
             Email: alinazeng@ucsb.edu
             <br> 
             Phone: +314 911 290 103
        </p>
    </section>

    <section>
      <ion-button shape="round" expand = "full" (click)="navToListings()">explore</ion-button>
    </section>
</ion-content>
