<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
      <ion-title>Registration</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-app> 
    <form>
      <ion-item>
        <div class="ion-padding">
          <h1>New Airbnb User</h1>
          <h3>Hello!</h3>
            <ion-input [type] = "firstname" placeholder="First Name" name = "firstname" [(ngModel)]="firstname" required ></ion-input>
            <ion-input [type] = "lastname" placeholder="Last Name" name = "lastname" [(ngModel)]="lastname" required></ion-input>
            <ion-input [type] = "email" placeholder="Email" name = "email" [(ngModel)]="email" required></ion-input>
            <ion-input [type] = "username" placeholder="Username" name = "username" [(ngModel)]="username" required></ion-input>
            <ion-input input type = "password" placeholder="Password" name = "password" [(ngModel)]="password" required></ion-input>
            <ion-input input type = "password" placeholder="Confirm Password" name = "cpassword" [(ngModel)]="cpassword" required></ion-input>
        </div>
      </ion-item>
  
      <section>
        <ion-button expand="block" type="submit" (click)="navToProperties()" class="ion-no-margin">Register</ion-button>
      </section>
    </form>
  </ion-app>
